<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bookTitle</key>
	<string>The Timid Tiger and the Dried Persimmon</string>
	<key>language</key>
	<string>eng</string>
	<key>contentsList</key>
	<array>
		<dict>
			<key>snapshot</key>
			<string>page_img01.png</string>
			<key>BGM</key>
			<string>BGM_1</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>01.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string>600</string>
				<key>height</key>
				<string>300</string>
				<key>x</key>
				<string>50</string>
				<key>y</key>
				<string>50</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
				<string>06</string>
				<string>07</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>500</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>There once lived a tiger which believed that he was the most powerful animal on the mountain.</string>
				<string>He strolled haughtily, boasting about his great strength, and said,</string>
				<string>“I’m the king of all the animals on the mountain. Nothing scares me!”</string>
				<string>It was true!</string>
				<string>He was scary. And when the other animals heard his roaring, </string>
				<string>they let out a shriek of fear and ran away in a hurry.</string>
			</array>
			<key>subs_kor</key>
			<array>
				<string>옛날에 산에서 자기가 제일로 힘이 세다고 믿고 있는 호랑이가 살고 있었답니다.</string>
				<string>호랑이는 거만하게 어슬렁거리며 걸어 다니면서, 자신의 위대한 힘을 자랑하곤 했습니다. </string>
				<string>“난 이 산에 살고 있는 모든 동물들의 왕이지. 아무 것도 두려울 것이 없어.”라고 말했습니다.</string>
				<string>그것은 사실이었습니다.</string>
				<string>호랑이는 무시무시했습니다.</string>
				<string>&quot;다른 동물들이 그의 으르렁대는 소리를 들을 때면,
모두들 공포의 비명을 지르고는, 재빨리 도망을 갔습니다.&quot;</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>어느 매우 추운 겨울날, 폭설로 인하여 호랑이는 수 일 동안 아무 것도 사냥을 할 수가 없었습니다.</string>
				<string>“배고파 죽겠는걸. 더 이상은 못 참겠다. 먹을 것 좀 찾으러 마을로 내려가야겠다.”</string>
				<string>호랑이는 산 아래에 누워서 어두워지기를 기다리고 있었습니다.</string>
			</array>
			<key>snapshot</key>
			<string>page_img02.png</string>
			<key>BGM</key>
			<string>BGM_2</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>02.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string>400</string>
				<key>height</key>
				<string>400</string>
				<key>x</key>
				<string>500</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>08</string>
				<string>09</string>
				<string>10</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>One very cold winter, the Tiger could not hunt for food for many days because of the heavy snow.</string>
				<string>“I’m starving to death. I can’t stand it any longer. I should go into town to get something to eat.”</string>
				<string>The Tiger was lying down at the foot of the mountain, waiting until it got dark.</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>호랑이는 외양간이 있는 농가를 발견했습니다. </string>
				<string>그 안에는 코를 크게 골면서 잠을 자고 있는 소가 있었습니다.</string>
				<string>“오호! 황소군! 기가 막힌 저녁식사가 되겠어.”</string>
				<string>호랑이는 황소를 보면서 입맛을 쩝쩝 다셨습니다.</string>
			</array>
			<key>snapshot</key>
			<string>page_img03.png</string>
			<key>BGM</key>
			<string>BGM_3</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>03.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>He found a farmhouse with a barn. </string>
				<string>There was a cow sleeping inside, snoring loudly.</string>
				<string>“A-ha! A cow! That’s a perfect dinner!”</string>
				<string>The Tiger licked his chops at the cow.</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>바로 그때, 호랑이는 집 안에서 어린 아이의 엉엉 우는 울음소리를 들었습니다. </string>
				<string>“앙! 앙!”</string>
				<string>“그만 울 거라, 안 그러면 괴물이 널 잡아갈 거야.”</string>
				<string> 엄마가 말했습니다.</string>
			</array>
			<key>snapshot</key>
			<string>page_img04.png</string>
			<key>BGM</key>
			<string>BGM_4</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>04.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>Just then, the Tiger heard a small child crying from inside the house.</string>
				<string>“Waa! Waa!”</string>
				<string>“Stop crying or the monster will get you,”</string>
				<string>said his mother.</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>&quot;&quot;&quot;앙! 앙!&quot;&quot;</string>
				<string>아이는 계속해서 울어댔습니다.</string>
				<string>엄마가 아무리 달려여도 막무가내 였습니다</string>
				<string>“쉬! 밖에 호랑이가 있다. 그만 울어라, 안 그러면 호랑이가 와서 널 잡아갈 거야.”</string>
				<string>호랑이는 화들짝 놀랐습니다. </string>
				<string>“내가 여기 있는 것을 저 여자가 어떻게 아는 거지? 좀 더 조심해야겠군.”</string>
				<string>“앙! 앙!” </string>
				<string>&quot;
아이는 울음을 그치지 않았습니다. &quot;</string>
				<string>사실 더 크게 울어 댔습니다. </string>
				<string>“흠, 저 꼬마는 내가 무섭지 않은 거야?”</string>
			</array>
			<key>snapshot</key>
			<string>page_img05.png</string>
			<key>BGM</key>
			<string>BGM_5</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>05.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
				<string>26</string>
				<string>27</string>
				<string>28</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>“Waa! Waa!”</string>
				<string>the child continued to cry, </string>
				<string>even though his mother tried to comfort him.</string>
				<string>“Shh! There’s a tiger outside. Stop crying, or he’ll come and get you.”</string>
				<string>The Tiger was suddenly frightened.</string>
				<string>“How can she know where I am now? I must be more careful.”</string>
				<string>“Waa! Waa!”</string>
				<string> The child didn’t stop crying,</string>
				<string> in fact, he cried even louder.</string>
				<string>“Hum, why isn’t he afraid of me?”</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>“제발, 그만 울어라! 여기 곶감이 있다.”</string>
				<string>놀랍게도, 엄마가 곶감 이야기를 했더니, 아이는 즉시 울음을 멈추었습니다.</string>
				<string>“대체 곶감이 뭐지?”</string>
				<string> 호랑이는 생각했습니다.</string>
				<string>“아마도 정말 무서운 괴물임에 틀림없어. 그게 정말 여기에 있단 말이지? 하여간 조심해야겠군.”</string>
			</array>
			<key>snapshot</key>
			<string>page_img06.png</string>
			<key>BGM</key>
			<string>BGM_6</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>06.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>29</string>
				<string>30</string>
				<string>31</string>
				<string>32</string>
				<string>33</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>“Please stop crying! I have a dried persimmon for you.”</string>
				<string>Surprisingly, when his mother told him about the dried persimmon, the child immediately stopped crying.</string>
				<string>“What is a dried persimmon?”</string>
				<string> thought the Tiger.</string>
				<string>“It must be a very scary beast. Is it really here? I must be careful.”</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>호랑이는 조심스럽게, 조용히 외양간으로 들어갔습니다.</string>
				<string>바로 그때, 커다랗고, 검은 그림자가 외양간 문을 통해 슬며시 들어왔습니다</string>
				<string>“이런! 곶감임에 틀림없군.”</string>
			</array>
			<key>snapshot</key>
			<string>page_img07.png</string>
			<key>BGM</key>
			<string>BGM_7</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>07.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>34</string>
				<string>35</string>
				<string>36</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>The Tiger walked very carefully and quietly back to the barn.</string>
				<string>At that moment, a large, black figure crept through the barn door.</string>
				<string>“Eek! It must be the dried persimmon.”</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>호랑이는 너무 무서워서 움직일 수조차 없었습니다.</string>
				<string>검은 그림자가 호랑이에게로 다가와서는 등을 문질렀습니다.</string>
				<string>“오, 이 녀석 정말 튼튼하고 토실토실한걸. 아주 마음에 들어!” </string>
				<string>사실 크고 검은 그림자는 농부의 황소를 훔치기 위해 숨어들어 온 도둑이었습니다.</string>
				<string>너무나 어두웠기 때문에, 도둑도 털이 수북한 호랑이가 정말로 황소인줄 알았답니다.</string>
			</array>
			<key>snapshot</key>
			<string>page_img08.png</string>
			<key>BGM</key>
			<string>BGM_8</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>08.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>37</string>
				<string>38</string>
				<string>39</string>
				<string>40</string>
				<string>41</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>The Tiger was too scared to move.</string>
				<string>The black figure walked to the Tiger and rubbed its back.</string>
				<string>“Oh, this one’s really nice and fat! I like it.”</string>
				<string>The large, black figure was really a thief who had come to steal the farmer&apos;s cow.</string>
				<string>Because it was dark, the Thief thought that the furry Tiger was really a cow.</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>도둑이 꼬리를 붙잡고 호랑이를 외양간 밖으로 끌어냈을 때, 그는 너무 무서워 와들와들 떨었습니다. </string>
				<string>“이런, 이건 황소가 아니었잖아. 호랑이였어! 난 이젠 정말 죽었다.” </string>
				<string>도둑은 혼자 생각을 했습니다.</string>
				<string>“이런! 곶감이 내 꼬리를 잡았어. 난 이젠 정말 죽었다.” </string>
				<string>호랑이도 혼자 생각을 했습니다.</string>
				<string>호랑이와 도둑은 둘 다 너무 무서워서 꼼작도 할 수 없었습니다.</string>
			</array>
			<key>snapshot</key>
			<string>page_img09.png</string>
			<key>BGM</key>
			<string>BGM_9</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>09.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>42</string>
				<string>43</string>
				<string>44</string>
				<string>45</string>
				<string>46</string>
				<string>47</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>When the Thief pulled the Tiger out of the barn by his tail, he suddenly trembled with fear.</string>
				<string>“Oh no! This isn’t a cow at all. It’s a Tiger! Now I’ll die for sure,” </string>
				<string>the Thief thought to himself.</string>
				<string>“Oh no! The dried persimmon has me by my tail. I’ll die for sure,” </string>
				<string>the Tiger thought to himself.</string>
				<string>Both the Tiger and the Thief were too afraid to move at all.</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>“이렇게 죽을 수는 없지. 죽어라 달려보는 거야.”</string>
				<string>호랑이가 달리기 시작하자, 도둑은 호랑이가 자기를 잡아먹으려 한다고 생각했습니다.</string>
				<string> 그래서 즉시 호랑이 등위로 올라 타, 호랑이 몸을 꼭 끌어안았습니다.</string>
			</array>
			<key>snapshot</key>
			<string>page_img10.png</string>
			<key>BGM</key>
			<string>BGM_10</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>10.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>48</string>
				<string>49</string>
				<string>50</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>“I can’t die like this. I’ll run for my life.”</string>
				<string>When the Tiger started to run, the Thief thought the Tiger was trying to eat him.</string>
				<string>So he immediately jumped on the Tiger’s back and held onto the Tiger&apos;s body.</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>공포에 질린 호랑이는 위 아래로 정신없이 뛰어 보았지만, 도둑은 점점 더 꽉 잡을 뿐이었습니다. </string>
				<string>호랑이는 산을 향해 정신없이 달리고 또 달렸습니다.</string>
				<string>호랑이가 나무 아래로 지나갈 때, 도둑은 가까스로 나뭇가지를 붙잡고 더 이상 가지 않는 데에 성공했습니다.</string>
			</array>
			<key>snapshot</key>
			<string>page_img11.png</string>
			<key>BGM</key>
			<string>BGM_11</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>11.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>51</string>
				<string>52</string>
				<string>53</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>The scared Tiger bucked up and down, but the Thief held on to it even tighter.</string>
				<string>The Tiger continued running and running through the mountain.</string>
				<string>As the Tiger passed under a tree, the Thief successfully grabbed a branch and didn’t let go.</string>
			</array>
		</dict>
		<dict>
			<key>subs_kor</key>
			<array>
				<string>호랑이는 절대 뒤도 돌아보지 않고 계속 달렸습니다.</string>
				<string>한참을 달리고 난 뒤에야 비로소 호랑이는 등에 아무것도 없다는 것을 깨달았습니다. </string>
				<string>“진짜 거의 죽을 뻔 했네. 곶감에게 거의 잡혀 먹힐 뻔 했어. 오늘은 정말 운이 좋은 걸.”</string>
				<string>그날 이후로, 겁에 질린 호랑이는 다시는 마을로 내려오지 않았답니다.</string>
				<string> 최고로 무시무시한 곶감이 너무 무서워서 말입니다.</string>
			</array>
			<key>snapshot</key>
			<string>page_img12.png</string>
			<key>BGM</key>
			<string>BGM_12</string>
			<key>mosaic</key>
			<dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<string>200</string>
					<key>y</key>
					<string>200</string>
					<key>width</key>
					<string>200</string>
					<key>height</key>
					<string>200</string>
				</dict>
				<key>prefix</key>
				<string></string>
			</dict>
			<key>backImage</key>
			<string>12.JPG</string>
			<key>zoomInFrame</key>
			<dict>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>x</key>
				<string>100</string>
				<key>y</key>
				<string>100</string>
			</dict>
			<key>sounds</key>
			<array>
				<string>54</string>
				<string>55</string>
				<string>56</string>
				<string>57</string>
				<string>58</string>
			</array>
			<key>subtitleFrame</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>200</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>400</integer>
			</dict>
			<key>subs_eng</key>
			<array>
				<string>The Tiger kept running, never looking back.</string>
				<string>The Tiger finally realized that there was nothing on his back after many miles of running.</string>
				<string>“That was too close! I was almost eaten by the dried persimmon. I was so lucky today.”</string>
				<string>Since that day, the frightened Tiger never went to the town again </string>
				<string>for fear of the super-scary dried persimmon.</string>
			</array>
		</dict>
	</array>
	<key>togSubtitle</key>
	<true/>
	<key>moreBook1ID</key>
	<string>387324969</string>
	<key>moreBook1Name</key>
	<string>giantbigpot</string>
	<key>moreBook1Label</key>
	<string>The Giant in the Big Pot</string>
	<key>moreBook1Enable</key>
	<true/>
	<key>moreBook2ID</key>
	<string>390335254</string>
	<key>moreBook2Name</key>
	<string>kinganchovy</string>
	<key>moreBook2Enable</key>
	<true/>
	<key>moreBook2Label</key>
	<string>King Anchovy&apos;s Dream</string>
</dict>
</plist>
