<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>language</key>
	<string>eng</string>
	<key>bookTitle</key>
	<string>The Timid Tiger and the Dried Persimmon</string>
	<key>contentsList</key>
	<array>
		<string>01.JPG</string>
		<string>02.JPG</string>
		<string>03.JPG</string>
		<string>04.JPG</string>
		<string>05.JPG</string>
		<string>06.JPG</string>
		<string>07.JPG</string>
		<string>08.JPG</string>
		<string>09.JPG</string>
		<string>10.JPG</string>
		<string>11.JPG</string>
		<string>12.JPG</string>
	</array>
	<key>readPage</key>
	<integer>1</integer>
	<key>togSubtitle</key>
	<true/>
	<key>togPageFlip</key>
	<true/>
	<key>moreBook1ID</key>
	<string>387324969</string>
	<key>moreBook1Name</key>
	<string>giantbigpot</string>
	<key>moreBook1Label</key>
	<string>The Giant in the Big Pot</string>
	<key>moreBook1Enable</key>
	<true/>
	<key>moreBook2ID</key>
	<string>390335254</string>
	<key>moreBook2Name</key>
	<string>kinganchovy</string>
	<key>moreBook2Enable</key>
	<true/>
	<key>moreBook2Label</key>
	<string>King Anchovy&apos;s Dream</string>
</dict>
</plist>
